#root {
  text-align: center;
  font-size: 1.5rem;
}

.notComplete {
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
}

ul {
  margin: auto;
  padding: 0.5rem;
  list-style-type: none;
  text-align: left;
  border: 2px solid white;
  min-height: 15rem;
  max-width: 85%;
  border-radius: 15px;
}
@media screen and (min-width: 400px) {
  ul {
    max-width: 65%;
  }
}

@media screen and (min-width: 800px) {
  ul {
    max-width: 50%;
  }
}

li {
  border-bottom: 2px solid white;
    background-color: #242424;
}
li > button {
  background-color: #242424;
}

li > button:hover {
  cursor: pointer;
    background-color: #242424;
}

h1 {
  font-size: 3rem;
}

form {
  padding: 0.5rem;
  margin: 1rem;
}

button {
  background-color: #646cff;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

button:hover {
  background-color: #747bff;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid white;
}
